<!DOCTYPE html>
<html>
<head>
    <title><%= controller_name == 'umlint' ? 'UMLint' : 'UMLGrader' %></title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= yield :head %>
</head>
<body class="<%= controller_name == 'umlint' ? 'lint' : 'grader' %>-body">
<div>
    <%= render (controller_name == 'umlint' ? 'umlint/navbar' : 'umlgrader/navbar') %>
</div>

<%= yield %>

</body>
</html>
