/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker3
 *= require_tree .
 */

.pointer {
    cursor: pointer
}

.navbar{
    margin-bottom:0!important;
    min-height:0!important;
}

.navbar-nav > li > a{
    padding-top:5px!important;
    padding-bottom:5px!important;
}

.tooltip-inner {
    max-width: 800px!important;
    text-align: left!important;
    white-space:pre-wrap;
}

.modal-footer > .btn-group-centered {
    width: 102px;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer > .btn-group-centered > .btn {
    float: left;
}

.centered-text {
    text-align: center;
}

