// Place all the styles related to the umlgrader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// umgrader.css.scss
// note: see doc/colors.txt for alternative colors
@import "bootstrap";
@import "bootstrap/theme";

.grader-title { color:#89725b }

.grader-body {
  height:100%;
  overflow:auto;
  padding:0;
  margin:0 0 0 90px;
  font-family:Geneva,Verdana,"Times New Roman";
  background:#b0cc99;
}

.grader-textarea {
  margin:0;
  display:inline-block;
  width:100%;
  min-height:100%;
  padding:20px 20px 20px 20px;
  border-left:5px outset #BDD4AA;
  border-top:5px outset #BDD4AA;
  font-family:Geneva,Verdana,"Times New Roman";
  color:#677e52;
  background:#fbf4df;
}

.grader-listselect {
  margin:0; 
  top:100px;
  padding:10px 10px 10px 10px;
  border-left:5px outset #BDD4AA;
  border-top:5px outset #BDD4AA;
  font-family:Geneva,Verdana,"Times New Roman";
  background:#fbf4df;
}

.grader-explanation {
  color:#677e52;
}

.grader-explanation-lg {
  margin-left:10px;
  padding:5px;
  background-color:#fff;
  border: 1px solid #ddd;
  border-left-width:5px;
}

.grader_item {
  padding-top:10px;
}

// .input_item {
//   padding-top:20px;
// }

.grader_header_title {
  font-size:26pt;
  color:#89725b;
  background:#b0cc99;
  text-align:right;
  padding-right:40px;
}

.btn-menu-green{
    background-image: -webkit-linear-gradient(top, #428a2f 0%, #005908 100%);
    background-image: linear-gradient(to bottom, #428a2f 0%, #005908 100%);
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc;
    color: white;
}

.btn-menu-green:hover, .btn-menu-green:focus {
  background-color: #005908;
  background-position: 0 -15px;
  color:white;
}

.nav-tabs > li > a.tab-h:hover {
  background-color: transparent;
}

p {
  margin-bottom: 20px;
}

#content_editor .content {
  input, textarea {
    width: 350px;
  }

  textarea {
    height: 250px;
  }
}
