// Place all the styles related to the umlint controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// umlint.css.scss
// note: see doc/colors.txt for alternative colors
.lint-title {
  color: #ffc564
}

html {
  overflow: hidden;
  height: 100%;
}

.lint-body {
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0 0 0 90px;
  font-family: Geneva, Verdana, "Times New Roman";
  background: #53829d;
}

.lint-textarea {
  margin: 0;
  display:inline-block;
  width:100%;
  min-height:100%;
  padding: 20px 20px 20px 20px;
  border-left: 5px outset #7c99b7;
  border-top: 5px outset #7c99b7;
  font-family: Geneva, Verdana, "Times New Roman";
  background: #fafafa;
}

.lint-listselect {
  margin: 0;
  top: 100px;
  padding: 10px 10px 10px 10px;
  border-left: 5px outset #7c99b7;
  border-top: 5px outset #7c99b7;
  font-family: Geneva, Verdana, "Times New Roman";
  background: #fafafa;
}

.lint-explanation {
  color: #5d829d;
}

.warning_item {
  padding-top: 10px;
}

.input_item {
  padding-top: 10px;
}

.lint_header_title {
  font-size: 26pt;
  color: #ffc564;
  background: #53829d;
  text-align:right;
  padding-right:40px;
}

.ticket {
  padding-right: 40px;
  font-size: small;
}

.space_right {
  margin-right: 5em;
}

.table_spacing {
  margin-left: 1em;
  margin-right: 1em;
}

.menu {
  margin-left: 100ex;
  width: 145px;
}

//unused:
//.umlint_menu {
//  margin-left:100ex;
//  color:#625d5d;
//  background:#eef2f6;
//  display:block;
//  width:120px;
//  height:18px;
//  border:1px solid #427ab7;
//  margin-top:4px;
//  text-align:center;
//  text-decoration:none;
//  font-size:x-small;
//  line-height:20px;
//  overflow:hidden;
//  border-radius:8px;
//}
//.umlint_menu:hover {
//  color:#427ab7;
//  background:#ced9e4;
//}
//.umlint_menu:active {
//  color:#427ab7;
//  background:#ffc564;
//}

.attention {
  color: #ff0000;
  font-weight: bold;
}

.error {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
}


.center-text {
  text-align: center;
}

.table-gaps td {
  padding-bottom: 10px;
  padding-left: 5px;
}// This is an override of the base bootstrap style to change the alternate row color
.lint-textarea .table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: #f1f1f1;
    }
  }
}

td > label {
  margin-right: 5px;
  line-height: 17px
}

table.checklist-description td {
  padding: 2px 0;
}

