<script>
    $(function () {
        $(":file").filestyle();
    });
</script>

<table class="checklist-description" border=0>
    <tr>
        <td><label for="description">Description:</label></td>
        <td colspan=3>
            <%= text_field_tag :description, @check_list.description, :size => 50,
                               :disabled => @read_only, class: 'form-control' %>
        </td>
    </tr>
    <tr>
        <td><label for="language">Language:</label></td>
        <td style="width:12em">
            <%= text_field_tag :language, @check_list.language, :size => 20,
                               :disabled => @read_only, class: 'form-control' %>
        </td>
        <td><label style="margin-left:10px">Organization:</label></td>
        <td><%= @check_list.organization %></td>
    </tr>
    <tr>
        <td><label for="retired">Retired:</label></td>
        <td>
            <%= select_tag 'retired', options_for_select([['No', 0], ['Yes', 1]], @check_list.retired ? 1 : 0),
                           :disabled => @read_only, class: 'form-control' %>
        <td><label style="margin-left:10px">Contact:</label></td>
        <td><%= @check_list.contact %>
            <% if @read_only %>
                <span class=attention>&lt;&lt; Checklist belongs to another instructor!</span>
            <% end %>
        </td>
    </tr>
    <tr>
      <td>
        <% if @checklist_id != 0 && @check_list %>
          <%= link_to "Download", download_checklist_file_path(@check_list), :class => 'btn btn-default'%>
        <% end %>
      </td>
    </tr>
</table>
<br>

<p>
    Mark the Apply? column to check the issue in all cases. Clear it to select
    specific subissues to check. To disable a check in all cases, clear both
    the Apply? mark and the subissue marks.

<p>
<h4>UMLint</h4>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <td class="center-text">Check</td>
      <td class="center-text">Apply?</td>
      <td class="center-text">Trigger</td>
      <td class="center-text">Rating</td>
    </tr>
    </thead>
    <tbody>
    <% @lint_items.each { |item|
      checks = @included_checks[item.name.to_sym]
    %>
        <tr>
          <td valign=top><%= item.name %></td>
          <td valign=top align=center><%=
              check_box_tag "include[#{item.id}]", true, checks && checks.include?(:ALL),
                            :disabled => @read_only %></td>
          <td valign=top><%= item.description %></td>
          <td align=center valign=top><%= item.precedence %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td valign=top colspan=2 class=lint-explanation>
            <em>Subissues:</em>
            <% detailed_items =
                       Explanation.where(:name => item.name).take.detailed_issue_list
            %>
            <% if detailed_items.size == 1 %>
                (<%= detailed_items[0] %>)
            <% elsif detailed_items.size > 1
                 detailed_items.each { |subissue| %>
            <span style="white-space: nowrap;"><%=
                check_box_tag "checkitem[#{item.id}][#{subissue}]", true,
                              checks && (checks.include?(:ALL) ||
                                      checks.include?(subissue.to_sym)),
                              :disabled => @read_only
            %>&nbsp;<%= subissue %><%=
                ';' if subissue != detailed_items[-1]
            %></span>
                <% } %>
            <% end %>
          </td>
        </tr>
    <% } %>
    </tbody>
  </table>
</div>

<h4>UMLGrader</h4>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <td class="center-text">Check</td>
      <td class="center-text">Apply?</td>
      <td class="center-text">Trigger</td>
      <td class="center-text">Rating</td>
    </tr>
    </thead>
    <tbody>
    <% @grader_items.each { |item|
      checks = @included_checks[item.name.to_sym]
    %>
        <tr>
          <td valign=top><%= item.name %></td>
          <td valign=top align=center><%=
              check_box_tag "include[#{item.id}]", true, checks && checks.include?(:ALL),
                            :disabled => @read_only %></td>
          <td valign=top><%= item.description %></td>
          <td align=center valign=top><%= item.precedence %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td valign=top colspan=2 class=lint-explanation>
            <em>Subissues:</em>
            <% detailed_items =
                       Explanation.where(:name => item.name).take.detailed_issue_list
            %>
            <% if detailed_items.size == 1 %>
                (<%= detailed_items[0] %>)
            <% elsif detailed_items.size > 1
                 detailed_items.each { |subissue| %>
            <span style="white-space: nowrap;"><%=
                check_box_tag "checkitem[#{item.id}][#{subissue}]", true,
                              checks && (checks.include?(:ALL) ||
                                      checks.include?(subissue.to_sym)),
                              :disabled => @read_only
            %>&nbsp;<%= subissue %><%=
                ';' if subissue != detailed_items[-1]
            %></span>
                <% } %>
            <% end %>
          </td>
        </tr>
    <% } %>
    </tbody>
  </table>

  <div style="text-align: center;">
    <span class=space_right><%= submit_tag 'Save', :disabled => @read_only, class: 'btn btn-primary' %></span>&nbsp;
    <%= submit_tag 'Cancel', class: 'btn btn-default' %>
  </div>
</div>
