<!-- UML-297: Original code from index.html.erb -->
<script>
  $(function () {
    $(":file").filestyle();
  })
</script>

<div class=grader_header_title>
  UMLGrader: Object Oriented Model Grader
</div>

<div class="grader-textarea">

  <% if flash and flash[:notice] %>
      <div class="col-lg-6">
        <div class="alert alert-success fade in centered-text" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= flash[:notice] %>
        </div>
      </div>
  <% end %>

  <% if flash and flash[:error] %>
      <div class="col-lg-6">
        <div class="alert alert-danger fade in centered-text" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= flash[:error] %>
        </div>
      </div>
  <% end %>

  <div class="col-xs-12">
    <p>
      Browse to your solution file, select an assignment, and click on 'Grade' to
      compare your diagram against a standard solution.
    </p>

    <!-- the multipart is what allows upload files: -->
    <%= form_tag('/umlgrader/results', :multipart => true) do %>

        <table>
          <tr>
            <td class=input_item>File (.mdl or .xmi):</td>
            <td class=input_item>
              <%= file_field :model_file, '', :size => 60, :class => 'filestyle' %>
          </tr>

          <tr>
            <td class=input_item>Assignment:</td>
            <td class=input_item id='assignment_option_id'><%=
                select_tag 'assignment',
                           options_for_select(@problem_options, @problem && @problem.id), :class => 'form-control' %>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class=input_item><%= submit_tag 'Grade', :class => 'btn btn-default' %></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>

    <% end %>

  </div>

</div>
