<table style="align-items: centered">
  <tr>

    <td>
      <p class="fa fa-plus link btn" style="background-color: transparent" data-toggle="collapse" data-target="#add_students"></p>
    </td>
    <td>
      <p>Add Students</p>
    </td>
  </tr>
</table>

<div id="add_students" class="collapse">
<%= form_tag("/umlgrader/group_add_students/#{@group.id}", :multipart => true) do %>
<p>Separate each email with a semicolon</p>
<table>
  <tr>
      <td class="input_item"><%= label_tag :emails %></td>
      <td class="input_item" style="padding-bottom: 1em"><%= text_area_tag :students_import, "", :placeholder => 'email_1;email_2;email_3 ...', class: 'form-control' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag 'Add Students', data: { disable_with: false }, class: 'btn btn-default' %></td>
  </tr>
</table>
</div>
<div style="padding: 20px 10px">
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <td class="center-text">Students</td>
  </tr>
  </thead>
  <tbody>
    <% if(!@group.students.nil? && !@group.students.blank?) %>
      <% @group.students.each { |student| %>
        <tr>
          <td valign=top><%= student.email_address %></td>
          <td class="center-text">
              <i class="fa fa-trash pointer" data-toggle="modal" data-target="#confirmDelete<%= student.id %>"></i>
              <%= render 'umlgrader/group_delete_student_confirmation', :group => @group, :student => student %>
          </td>
        </tr>
      <% } %>
    <% end %>
  </tbody>
<% end %>
</table>
</div>
