<table style="align-items: centered">
  <tr>

    <td>
      <p class="fa fa-plus link btn" style="background-color: transparent" data-toggle="collapse" data-target="#add_assignment"></p>
    </td>
    <td>
      <p>Add An Existing Assignment</p>
    </td>
  </tr>
</table>

<div id="add_assignment" class="collapse">
<%= form_tag("/umlgrader/group_add_problem/#{@group.id}", :multipart => true) do %>
<table>
  <tr>
    <td class="input_item"><%= label_tag :assignments %></td>
    <td class=input_item style="padding-bottom: 1em"><%=
        select_tag 'assignment',
                   options_for_select(@problem_options, @problem && @problem.id), :class => 'form-control' %>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag 'Add Assignment', data: { disable_with: false }, class: 'btn btn-default' %></td>
  </tr>
</table>
</div>
<div style="padding: 20px 10px">
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <td class="center-text">Assignments</td>
  </tr>
  </thead>
  <tbody>
    <% if(!@group.problems.nil? && !@group.problems.blank?) %>
      <% @group.problems.each { |problem| %>
        <tr>
          <td valign=top><%= problem.name %></td>
          <td valign=top><%= problem.description %></td>
          <td class="center-text">
              <i class="fa fa-trash pointer" data-toggle="modal" data-target="#confirmDelete<%= problem.id %>"></i>
              <%= render 'umlgrader/group_delete_problem_confirmation', :group => @group, :problem => problem %>
          </td>
        </tr>
      <% } %>
    <% end %>
  </tbody>
<% end %>
</table>
</div>
