<%= form_tag(modify ? umlgrader_modify_instructor_path : umlgrader_create_instructor_path, :multipart => true) do %>
    <table class="table-gaps">
      <tr>
        <td><label>Email</label><label class="text-danger">*</label><label> :</label></td>
        <td><%= email_field_tag :email, modify ? @account.email_address : '', class: 'form-control', required: true %></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><%= password_field_tag :change_password, '', :size => 40, class: 'form-control', required: !modify %></td>
      </tr>
      <tr>
        <td><label>Confirm Password:</label></td>
        <td><%= password_field_tag :confirm_password, '', :size => 40, class: 'form-control', required: !modify %></td>
      </tr>
      <tr>
        <td><label>First Name:</label></td>
        <td><%= text_field_tag :first_name, modify ? @account.given_name : '', class: 'form-control', required: !modify %></td>
      </tr>
      <tr>
        <td><label>Last Name:</label></td>
        <td><%= text_field_tag :last_name, modify ? @account.surname : '', class: 'form-control', required: !modify %></td>
      </tr>
      <tr>
        <td><label>Organization:</label></td>
        <td><%= text_field_tag :organization, modify ? @account.organization : '', class: 'form-control', required: !modify %></td>
      </tr>
      <% if modify %>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
          <td><label>Current Password</label><label class="text-danger">*</label><label>:</label></td>
          <td><%= password_field_tag :current_password, '', :size => 40, class: 'form-control', required: true %></td>
        </tr>
      <% end %>
      <tr>
        <td>
          <% if modify %>
              <%= submit_tag 'Delete',
                             class: 'btn btn-danger',
                             :id => 'delete_instructor',
                             data: {confirm: 'Are you sure? Your account will be deleted and you will be logged out!'}
              %>
          <% end %>
        </td>
        <td class="text-right"><%= submit_tag modify ? 'Save' : 'Create', class: 'btn btn-default', :id => 'change_pass_save' %></td>
      </tr>
    </table>
<%end%>