<div class="modal fade" id="confirmDelete<%= problem.id %>" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the assignment '<%= problem.name %>'?</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group-centered">
                    <%= link_to 'Yes', umlgrader_delete_path(problem), :method => 'delete', class: 'btn btn-primary', data: {dismiss: 'modal'} %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
