<div id="menu" class="collapse">
<nav class="navbar  navbar-default" role="navigation">
    <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(umlgrader_index_path) || current_page?(umlgrader_path) %>">
                    <%= link_to 'Home', umlgrader_index_path %>
                </li>
                <li class="<%= 'active' if current_page?(umlgrader_about_path) %>">
                    <%= link_to 'About', umlgrader_checks_path %>
                </li>
                <% if session[:account_id] && Account.find(session[:account_id].to_i).instructor? %>
                    <li><%= link_to 'Checklists', umlgrader_edit_path %></li>
                    <li><%= link_to 'Create Instructor', umlgrader_create_instructor_path %></li>
                    <li><%= link_to 'Account', umlgrader_modify_instructor_path %></li>
                    <li><%= link_to 'Assignments', umlgrader_manage_assignments_path %></li>
                    <li><%= link_to 'Groups', umlgrader_manage_groups_path %></li>
                <% end %>
                <% if session[:account_id] %>
                    <li><%= link_to 'Logout', umlgrader_logout_path %></li>

                <% else %>
                    <li><%= link_to 'Login', umlint_login_path %></li>
                <% end %>
                <li><%= link_to 'UMLTools', '/' %></li>
                <li><%= link_to 'UMLint', umlint_index_path %></li>
                <li><%= link_to 'Bug Reporting', 'https://bitbucket.org/hasker/umltools/issues' %></li>
            </ul>
    </div>
</nav>
</div>
<div class="pull-left">
    <button class="btn btn-menu-green" data-toggle="collapse" data-target="#menu">Menu <i class="fa fa-bars"></i></button>
</div>
