<%= form_tag('/umlgrader/upload_assignment/' + (params[:id]||''), :multipart => true) do %>
    <% if @problem.errors && !@problem.errors.empty? %>
        <div class="alert alert-danger">
                    <span><%= pluralize(@problem.errors.count, "error") %> prohibited
                        this assignment from being saved:</span>
            <ul>
                <% @problem.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <table>
        <tr>
            <td class="input_item"><%= label_tag :name %></td>
            <td class="input_item"><%= text_field_tag :name, @problem.name, :placeholder => 'Assignment Name', class: 'form-control' %></td>
        </tr>
        <tr>
            <td class=input_item><%= label_tag :type %></td>
            <td class=input_item><%=
                select_tag 'assignment_type',
                           options_for_select([['Class Diagram', Problem::CLASS_DIAGRAM_TYPE],
                                               ['Sequence Diagram', Problem::SEQUENCE_DIAGRAM_TYPE],
                                               ['High-level Diagram', Problem::HIGH_LEVEL_DIAGRAM_TYPE]],
                                              :selected => @problem.assignment_type), class: 'form-control'
            %>
        </tr>
        <tr id="sub_type" class="hide">
            <td class=input_item><%= label_tag :sub_type, 'Diagram Type'  %></td>
            <td class=input_item><%=
                select_tag 'sub_type',
                           options_for_select([['Class Diagram', Problem::CLASS_DIAGRAM_TYPE],
                                               ['Sequence Diagram', Problem::SEQUENCE_DIAGRAM_TYPE]],
                                              :selected => (@problem.problem_word ? @problem.problem_word.assignment_type : Problem::CLASS_DIAGRAM_TYPE), class: 'form-control')
            %>
        </tr>

            <tr id="check_list_row">
                <td class=input_item><label for="check_list">Checklist to apply</label></td>
                <td class=input_item><%=
                    select_tag 'check_list',
                               options_for_select(CheckList.check_types, @checklist_id.to_i), class: 'form-control'
                %>
            </tr>
        <tr>
            <td class="input_item"><%= label_tag :description %></td>
            <td class="input_item"><%= text_area_tag 'description', @problem.description, placeholder: 'Instruction for the student to create the diagram', rows: 3, class: 'form-control' %></td>

        </tr>
        <tr>

            <td class="input_item"><%= label_tag :started_at, 'Assignment' %></td>
            <td class="input_item">
                <div class="input-daterange input-group">
                    <%= text_field_tag :started_at, @problem.started_at ? @problem.started_at.strftime('%m/%d/%Y') : nil, class: 'input-sm form-control', placeholder: 'start date' %>
                    <span class="input-group-addon">to</span>
                    <%= text_field_tag :closed_at, @problem.closed_at ? @problem.closed_at.strftime('%m/%d/%Y') : nil, class: 'input-sm form-control', placeholder: 'close date' %>
                </div>
            </td>

        </tr>
        <tr>
            <td class="input_item"><%= label_tag :due_at, 'Due Date' %></td>
            <td class="input_item">
                <%= text_field_tag :due_at, @problem.due_at ? @problem.due_at.strftime('%m/%d/%Y') : nil, class: 'input-sm form-control datepicker', placeholder: 'due date', data: {behavior: 'datepicker'} %>
            </td>
        </tr>
    </table>
    <h3>Contents</h3>
    <div id="solution_file_type" class="content_type">
        <table>
          <tr>
            <td class="input_item"><%= label_tag :solution_file, 'Model (.mdl or .xmi)' %></td>
            <td class="input_item">
              <%= file_field_tag :solution_file, class: 'filestyle' %>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="input_item"><%= submit_tag @problem.new_record? ? 'Create Assignment' : 'Modify Assignment' , class: 'btn btn-default' %></td>
          </tr>
        </table>
    </div>
    <div id="content_editor" class="content_type hide">
      <div class="row">
        <div class="col-sm-6">
          <p>Enter a list of nouns and verbs and they will be compared with the student's submitted diagrams. Nouns will be matched to class names or variables and verbs will be matched to methods.
            Capitalization will be ignored and each noun or verb should be entered on a new line.</p>
        </div>
      </div>
        <div class="row content">
          <div class="col-sm-6">
            <table class="table">
              <tr>
                <th>Nouns</th>
                <th>Verbs</th>
              </tr>
              <tr>
                <td class="input_item">
                  <textarea id="nouns" type="text" name="nouns" class="form-control"><%= @problem.nouns %></textarea>
                </td>
                <td class="input_item">
                  <textarea id="verbs" type="text" name="verbs" class="form-control"><%= @problem.verbs %></textarea>
                </td>
              </tr>
            </table>
            <div class="col-xs-2 col-xs-offset-6">
              <%= submit_tag @problem.new_record? ? 'Create Assignment' : 'Modify Assignment' , class: 'btn btn-default' %>
            </div>
          </div>
        </div>
    </div>
<% end %>