<% if @checklist_id != 0 && @check_list %>
    <table border=0>
        <tr>
            <td><label>Description:</label></td>
            <td colspan=3><%= @check_list.description %>
            </td>
        </tr>
        <tr>
            <td><label>Language:</label></td>
            <td style="width:12em"><%= @check_list.language %></td>
            <td><label>Organization:</label></td>
            <td><%= @check_list.organization %></td>
        </tr>
        <tr>
            <td><label>Retired:</label></td>
            <% if @check_list.retired %>
                <td><span class=attention>YES</span></td>
            <% else %>
                <td>no</td>
            <% end %>
            <td><label>Contact:</label></td>
            <td><%= @check_list.contact %></td>
        </tr>
    </table>

    <br>

    <p>
        A mark in the Apply column means the issue is always checked. If box is not checked, then any marked subissues
        are checked.
    </p>
    <h4>UMLGrader</h4>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <td class="center-text">Check</td>
          <td class="center-text">Apply?</td>
          <td class="center-text">Trigger</td>
          <td class="center-text">Rating</td>
        </tr>
        </thead>
        <tbody>
        <% @grader_items.each { |item|
          checks = @included_checks[item.name.to_sym]
        %>
            <tr>
              <td valign=top><%= item.name %></td>
              <td valign=top align=center><%=
                  check_box_tag "include[#{item.id}]", true, checks && checks.include?(:ALL),
                                :disabled => true %></td>
              <td valign=top><%= item.description %></td>
              <td align=center valign=top><%= item.precedence %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td valign=top colspan=2 class=lint-explanation>
                <em>Subissues:</em>
                <% detailed_items =
                           Explanation.where(:name => item.name).take.detailed_issue_list
                %>
                <% if detailed_items.size == 1 %>
                    (<%= detailed_items[0] %>)
                <% elsif detailed_items.size > 1
                     detailed_items.each { |subissue| %>
            <span style="white-space: nowrap;"><%=
                check_box_tag "checkitem[#{item.id}][#{subissue}]", true,
                              checks && checks.include?(subissue.to_sym),
                              :disabled => true
            %>&nbsp;<%= subissue %><%=
                ';' if subissue != detailed_items[-1]
            %></span>
                    <% } %>
                <% end %>
              </td>
            </tr>
        <% } %>
        </tbody>
      </table>
    </div>

    <h4>UMLint</h4>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <td class="center-text">Check</td>
          <td class="center-text">Apply?</td>
          <td class="center-text">Trigger</td>
          <td class="center-text">Rating</td>
        </tr>
        </thead>
        <tbody>
        <% @lint_items.each { |item|
          checks = @included_checks[item.name.to_sym]
        %>
            <tr>
              <td valign=top><%= item.name %></td>
              <td valign=top align=center><%=
                  check_box_tag "include[#{item.id}]", true, checks && checks.include?(:ALL),
                                :disabled => true %></td>
              <td valign=top><%= item.description %></td>
              <td align=center valign=top><%= item.precedence %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td valign=top colspan=2 class=lint-explanation>
                <em>Subissues:</em>
                <% detailed_items =
                           Explanation.where(:name => item.name).take.detailed_issue_list
                %>
                <% if detailed_items.size == 1 %>
                    (<%= detailed_items[0] %>)
                <% elsif detailed_items.size > 1
                     detailed_items.each { |subissue| %>
            <span style="white-space: nowrap;"><%=
                check_box_tag "checkitem[#{item.id}][#{subissue}]", true,
                              checks && checks.include?(subissue.to_sym),
                              :disabled => true
            %>&nbsp;<%= subissue %><%=
                ';' if subissue != detailed_items[-1]
            %></span>
                    <% } %>
                <% end %>
              </td>
            </tr>
        <% } %>
        </tbody>
      </table>
    </div>


<% end %>
