<!--<TITLE>About UMLGrader</TITLE>-->

<div class=grader_header_title>
    About UMLGrader
</div>

<div class=grader-textarea>

    <p>
        UMLGrader compares uploaded diagrams against standard solutions. Diagrams
        can be generated using either IBM Rational Rose or IBM Rhapsody. For
        Rhapsody, visit the Tools menu and select "Export XMI from Rhapsody". Pick
        the UML 2.1 format and leave "Export Rhapsody Profiles" checked. If XMI is
        not enabled, you will need to contact your support staff.

    <p>
        UMLGrader, developed by
        <a href="https://faculty-web.msoe.edu//hasker/">Dr. Rob
            Hasker</a>, is based on <a href="/umlint">UMLint</a>. The tool is written
        using the Ruby programming language and the Rails web development
        environment. Further development on the tool was done by MSOE students
        Rebecca Chandler, Matt Herman, CJ Kimpel, Brett Nockerts, and Andrew Scott.
    </p>

    <p>
        For a full list of checks made by UMLGrader, see <a
    href="/umlgrader/checks">here</a> or click on the "List of issues" button
        on the home page.
    </p>

    <p>
        There currently is no charge for using the tool. Ideas for additional
        checks are welcome. Instructors wishing to set up assignments using this
        tool should
        contact <a href="https://faculty-web.msoe.edu//hasker/">Dr. Hasker</a>.
    </p>



</div>
