<!--<TITLE>UMLGrader Checks</TITLE>-->

<div class=grader_header_title>
    UMLGrader Checks
</div>

<div class=grader-textarea>
    <p>
      UMLGrader compares uploaded diagrams against standard solutions. Diagrams
      can be generated using either IBM Rational Rose or IBM Rhapsody. For
      Rhapsody, visit the Tools menu and select "Export XMI from Rhapsody". Pick
      the UML 2.1 format and leave "Export Rhapsody Profiles" checked. If XMI is
      not enabled, you will need to contact your support staff.

    <p>
      UMLGrader, developed by
        <a href="https://faculty-web.msoe.edu//hasker/">Dr. Rob
          Hasker</a>, is based on <a href="/umlint">UMLint</a>. The tool is written
      using the Ruby programming language and the Rails web development
      environment. Further development on the tool was done by MSOE students
      Rebecca Chandler, Matt Herman, CJ Kimpel, Brett Nockerts, and Andrew Scott.
    </p>

    <p>
      There currently is no charge for using the tool. Ideas for additional
      checks are welcome. Instructors wishing to set up assignments using this
      tool should
      contact <a href="https://faculty-web.msoe.edu//hasker/">Dr. Hasker</a>.
    </p>

    <p>
        Below is a partial list of issues
        checked by <%= link_to 'UMLGrader', :action => 'index' %>,
        ordered by perceived importance. In addition, UMLGrader checks some of the
        issues checked by <a href="/umlint">UMLint</a>
    </p>

    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#class" class="tab-h" aria-controls="class" role="tab" data-toggle="tab">Class/State Diagrams</a>
        </li>
        <li role="presentation">
          <a href="#sequence" class="tab-h" aria-controls="sequence" role="tab" data-toggle="tab">Sequence Diagrams</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="class">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead>
              <tr>
                <td class="center-text">Check</td>
                <td class="center-text">Description</td>
                <td class="center-text">Rating</td>
                <td class="center-text">Diagram</td>
              </tr>
              </thead>
              <tbody>
              <% @explanations.each { |expl| %>
                  <tr>
                    <td valign=top><%= h expl.name %></td>
                    <td valign=top><%= h expl.description %></td>
                    <td align=center valign=top><%= h expl.precedence %></td>
                    <td valign=top><%= h expl.diagram %></td>
                  </tr>
                  <tr>
                    <td valign=top align=right class=grader-explanation>
                      <em>description:</em></td>
                    <td colspan=3 valign=top class=grader-explanation>
                      <em><%= h expl.explanation %></em>
                    </td>
                  </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="sequence">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead>
              <tr>
                <td class="center-text">Check</td>
                <td class="center-text">Description</td>
                <td class="center-text">Rating</td>
                <td class="center-text">Diagram</td>
              </tr>
              </thead>
              <tbody>
              <% @sexplanations.each { |expl| %>
                  <tr>
                    <td valign=top><%= h expl.name %></td>
                    <td valign=top><%= h expl.description %></td>
                    <td align=center valign=top><%= h expl.precedence %></td>
                    <td valign=top><%= h expl.diagram %></td>
                  </tr>
                  <tr>
                    <td valign=top align=right class=grader-explanation>
                      <em>description:</em></td>
                    <td colspan=3 valign=top class=grader-explanation>
                      <em><%= h expl.explanation %></em>
                    </td>
                  </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
