<!--Currently used to confirm successful upload and reupload of problems by a professor -->

<div class=header>
    <div class=grader_header_title>
        UMLGrader: Object-oriented model grader
    </div>
</div>

<div class="grader-textarea">

    <div class="col-xs-12">

        <h2>
            <%= flash[:title] %>
        </h2>

        <% if flash and flash[:msg] %>
            <div style="text-align: center;">
                <p style="color:green"><b><%= flash[:msg] %></b></p>
            </div>
        <% end %>
    </div>

</div>
