<!--Modified version of index.html.erb.  Make adjustments while learning ruby on rails.-->
<!--Hopefully looks ok.  Behavior may be incorrect.-->
<!--TODO: Give more instruction like how keywords in doc work (?)-->

<!--<TITLE>UMLGrader: Object-oriented model grader</TITLE>-->
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-behavior="datepicker"]').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        $('.input-daterange').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        $(function () {
            $(":file").filestyle();
        });
    });
</script>

<div class=grader_header_title>
    Create Assignment
</div>

<div class="grader-textarea row">

    <p>
        Create a new assignment available for students to submit solutions for grading.
    </p>

    <p>
        The professor's diagram may define keywords for model elements.
        <button class="btn btn-xs btn-default" onclick="$('#learn-more').toggle();">Learn more.</button>
    </p>
    <div id="learn-more" class="grader-explanation-lg" style="display:none;">
        <p><b>Tip:</b></p>

        <p>
            UML Elements are matched by name.
            The name supplied by the professor is treated as a keyword.
            One of the words in a student's submission must match the professor's keyword.
        </p>

        <p>
            Example: Keyword "cit" matches both "Milwaukee City" and "cities"
        </p>

        <p>
            As a professor, you may supply multiple acceptable keywords.
            Put addition keywords in the UML element's description separated by commas.
        </p>
    </div>


    <% if flash and flash[:error] %>
        <div style="text-align: center;">
            <p style="color:red"><b><%= flash[:error] %></b></p>
        </div>
    <% end %>

    <!-- the multipart is what allows upload files: -->
    <%= render "problem_form" %>
</div>
