<div class="grader_header_title">
  Create Instructor
</div>

<div class="grader-textarea">
  <p>
    Use the following form to create a new instructor.
  </p>
  <br/>

  <% if flash and flash[:error] %>
      <p class=error><%= flash[:error] %></p>
  <% end %>

  <%= render "umlgrader/instructor_form", :modify => false %>

</div>
