<!--<TITLE>UMLint Checklist Editor</TITLE>-->

<div class="grader_header_title">
    UMLint Checklist Editor
</div>


<% # the following code works in that the form gets updated when
   # the user changes checklists, but I got to this by trial and
   # error - there may be better ways           rwh, March, 2013
%>

<div id="list_info" class="grader-textarea">

    <%= form_tag('/umlgrader/edit', multipart: true) do %>
        <div id=list_selector>
            <table>
                <tr>
                    <td>
                        <label for="checklist_id" style="margin-right:10px"> Select list to view or edit:</label>
                    </td>
                    <td>
                        <%= select_tag 'checklist_id', options_for_select([['Set up new checklist', 0]] + CheckList.all_check_types,
                                                                          @checklist_id), :onchange => 'this.form.submit()', class: 'form-control' %>
                    </td>
                </tr>
                <tr>
                  <td class=input_item>New Checklist (.json) file:</td>
                  <td class=input_item colspan=2>
                    <%= file_field :checklist_file, '', :size => 60, :class => 'filestyle' %>&nbsp;
                  </td>
                  <td class=input_item><%= submit_tag 'Submit', :class => 'btn btn-default' %></td>
                </tr>
            </table>
        </div>
    <% end %>
    <hr/>
    <%= form_tag('/umlgrader/do_update_checklist', multipart: true) do %>
        <% if flash and flash[:error] %>
            <p class=error><%= flash[:error] %></p>
        <% end %>
        <%= hidden_field_tag('checklist_id', @checklist_id) %>
        <%= render :partial => 'edit_checklist' %>
        </div>

    <% end %>
