<!--<TITLE>UMLGrader: Object-oriented model grader</TITLE>-->
<script >
    $(function () {
        $(":file").filestyle();
    });
</script>


<div class=grader_header_title>
  UMLGrader: Object Oriented Model Grader
</div>

<div class="grader-textarea">

  <% if flash and flash[:notice] %>
      <div class="col-lg-6">
        <div class="alert alert-success fade in centered-text" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= flash[:notice] %>
        </div>
      </div>
  <% end %>

  <% if flash and flash[:error] %>
      <div class="col-lg-6">
        <div class="alert alert-danger fade in centered-text" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= flash[:error] %>
        </div>
      </div>
  <% end %>

  <div class="col-xs-12">
    <p>
      Browse to your solution file, select an assignment, and click on 'Check Diagram' to
      compare your diagram against a standard solution.
    </p>

    <!-- the multipart is what allows upload files: -->
    <%= form_tag('/umlgrader/results', :multipart => true) do %>

        <table>
          <tr>
            <td class=input_item>Model (.mdl or .xmi) file:</td>
            <td class=input_item>
              <%= file_field :model_file, '', :size => 60, :class => 'filestyle' %>
          </tr>
          <tr>
            <td class=input_item>Assignment:</td>
            <td class=input_item><%=
                select_tag 'assignment',
                           options_for_select(@problem_options, @problem && @problem.id), :class => 'form-control' %>
          </tr>
          <tr>
            <td class="input_item">Generate Diagram(If available)?&nbsp;</td>

            <td class="input_item">
              <%= check_box_tag 'generate_diagram' %>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class=input_item><%= submit_tag 'Check Diagram', :class => 'btn btn-default' %></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>

    <% end %>

    <!--
    <p>First time using UML Grader? No problem! Click <%= link_to 'here', umlgrader_tutorial_path %> for a tutorial.</p>
    -->
  </div>
</div>
