<div class=grader_header_title>
    <% if @account.instructor? %>
      Manage Groups
    <% else %>
      View Groups
    <% end %>
</div>

<div class="grader-textarea row">
    <% if flash and flash[:msg] %>
        <div style="text-align: center;">
          <p style="color:green"><b><%= flash[:msg] %></b></p>
        </div>
    <% end %>
    <% if flash and flash[:notice] %>
        <div class="col-lg-6 row">
            <div class="alert alert-success fade in centered-text" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <%= flash[:notice] %>
            </div>
        </div>
    <% end %>

    <div class="col-xs-12">
        <% if (@groups.length > 0) %>
            <p>
                This is a list of all the groups you have created. From here you can modify the settings for any
                group
                or remove those that are are outdated.
            </p>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Description
                        </td>
                        <td style="width:1px">
                            Edit
                        </td>
                        <td style="width:1px">
                            Remove
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <% @groups.each do |group| %>
                        <tr>
                            <td><%= group[0] %></td>
                            <td>
                                <span class="tooltip-haver" data-toggle="tooltip" data-placement="top" title="<%= group[1] %>">
                                    <%= group[1].to_s.length < 100 ? group[1] :
                                                group[2].slice(0, 100).concat(' ...') %>
                                </span>
                            </td>
                            <td class="center-text">
                                <%= link_to raw('<i class="fa fa-edit"></i>'), manage_group_path(group[2].to_i) %>
                            </td>
                            <td class="center-text">
                                <i class="fa fa-trash pointer" data-toggle="modal" data-target="#confirmDelete<%= group[2].to_i %>"></i>
                                <%= render 'umlgrader/group_delete_confirmation', :group => group %>
                            </td>
                        </tr>
                    <% end %>
                    <tr>
                      <td><%= link_to "Create New Group", "/umlgrader/manage_group/new" %></td>
                      <td>Click Create New Group to add a new group</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <% else %>
            <p>It appears that you haven't created any groups yet. Click <%= link_to "Create New Group", "/umlgrader/manage_group/new" %> to add a new group.
        <% end %>
        <table>
          <% if flash and flash[:error] %>
            <tr>
              <div class="col-lg-6">
                <div class="alert alert-danger fade in centered-text" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  <%= flash[:error] %>
                </div>
              </div>
            </tr>
          <% end %>
        </table>
    </div>
</div>
