<!--<TITLE>UMLGrader: Object-oriented model grader</TITLE>-->
<script >
    $(function () {
        $(":file").filestyle();
    });
</script>


<div class=grader_header_title>
  UMLGrader: Object Oriented Model Grader
</div>

<div class="grader-textarea">
  <table>
    <% if flash and flash[:success] %>
        <div class="col-lg-6">
          <div class="alert alert-success fade in centered-text" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <%= flash[:success] %>
          </div>
        </div>
    <% end %>
    <% if flash and flash[:notice] %>
      <tr>
        <div class="col-lg-6">
          <div class="alert alert-warning fade in centered-text" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <%= flash[:notice] %>
          </div>
        </div>
      </tr>
    <% end %>
    <% if flash and flash[:error] %>
      <tr>
        <div class="col-lg-6">
          <div class="alert alert-danger fade in centered-text" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <%= flash[:error] %>
          </div>
        </div>
      </tr>
    <% end %>
  </table>
  <%= form_tag(@group.new_record? ? "/umlgrader/create_group/" : "/umlgrader/group_update_descriptions/#{@group.id}", :multipart => true) do %>
  <%= link_to @group.new_record? ? "Cancel": "Done", umlgrader_manage_groups_path, class: 'btn btn-default' %>
      <table>
          <tr>
              <td class="input_item"><%= label_tag :name %></td>
              <td class="input_item"><%= text_field_tag :name, @group.name, :placeholder => 'Group Name', class: 'form-control' %></td>
          </tr>
          <tr>
              <td class="input_item"><%= label_tag :description %></td>
              <td class="input_item" style="padding-bottom: 1em"><%= text_field_tag :description, @group.description, :placeholder => 'Group Description', class: 'form-control' %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= submit_tag @group.new_record? ? 'Create Group' : 'Update Descriptions', data: { disable_with: false }, class: 'btn btn-default' %></td>
          </tr>
      </table>
  <% end %>

<% if(!@group.new_record?) %>
      <div role="tabpanel" style="padding: 20px 10px">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#students" class="tab-h" aria-controls="students" role="tab" data-toggle="tab">Students</a>
          </li>
          <li role="presentation">
            <a href="#assignments" class="tab-h" aria-controls="assignments" role="tab" data-toggle="tab">Assignments</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="students">
            <div class="table-responsive" style="padding: 20px 10px">
                <%= render 'umlgrader/group_students', group: @group %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="assignments">
            <div class="table-responsive" style="padding: 20px 10px">
                <%= render 'umlgrader/group_problems', group: @group %>
            </div>
          </div>
        </div>
      </div>
<% end %>
</div>
