<div class=grader_header_title>
    Manage Assignment
</div>

<div class="grader-textarea row">
    <% if flash and flash[:msg] %>
        <div style="text-align: center;">
          <p style="color:green"><b><%= flash[:msg] %></b></p>
        </div>
    <% end %>
    <% if flash and flash[:notice] %>
        <div class="col-lg-6 row">
            <div class="alert alert-success fade in centered-text" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <%= flash[:notice] %>
            </div>
        </div>
    <% end %>

    <div class="col-xs-12">
        <% if (@account_problems && @account_problems.length > 0) %>
            <p>
                This is a list of all the assignments you have created. From here you can modify the settings for any
                assignments
                or remove those that are are outdated.
            </p>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>Diagram Type</td>
                        <td>
                            Description
                        </td>
                        <td style="width:1px">
                            Submissions
                        </td>
                        <td style="width:1px">
                            Edit
                        </td>
                        <td style="width:1px">
                            Remove
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <% @account_problems.each do |problem| %>
                        <tr>
                            <td><%= problem.name %></td>
                            <td><%= Problem::DIAGRAM_TYPE_NAME[problem.assignment_type.to_i] %></td>
                            <td>
                                <span class="tooltip-haver" data-toggle="tooltip" data-placement="top" title="<%= problem.description %>">
                                    <%= problem.description.length < 100 ? problem.description :
                                                problem.description.slice(0, 100).concat(' ...') %>
                                </span>
                            </td>
                            <td class="center-text">
                                <%= link_to raw('<i class="fa fa-edit"></i>'), submissions_path(problem.id) %>
                            </td>
                            <td class="center-text">
                                <%= link_to raw('<i class="fa fa-edit"></i>'), problem_path(problem.id) %>
                            </td>
                            <td class="center-text">
                                <i class="fa fa-trash pointer" data-toggle="modal" data-target="#confirmDelete<%= problem.id %>"></i>
                                <%= render 'umlgrader/modal_delete_confirmation', :problem => problem %>
                            </td>
                        </tr>
                    <% end %>
                      <tr>
                        <td colspan=6> <a href="/umlgrader/create_assignment">Click here to add a new assignment.</a> </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        <% else %>
            <p>It appears that you haven't created any assignments yet.
                <a href="/umlgrader/create_assignment">Click here</a> to add one.</p>
        <% end %>
    </div>
</div>
