<div class="grader_header_title">
  Modify Instructor
</div>

<div class="grader-textarea">
  <p>
    Use the following form to modify your account.
  </p>
  <br/>

  <% if flash and flash[:error] %>
      <p class=error><%= flash[:error] %></p>
  <% end %>

  <%= render "umlgrader/instructor_form", :modify => true %>
</div>
