<!--TODO: Give more instruction like how keywords in doc work (?)-->

    <script>
        $(document).ready(function () {
            $('[data-behavior="datepicker"]').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $('.input-daterange').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $(function () {
                $(":file").filestyle();
            });
        });

    </script>

<div class=header>
    <div class=grader_header_title>
        UMLGrader: Object-oriented model grader
    </div>
</div>

<div class="grader-textarea row">

    <div class="col-xs-12">

        <h2>
            Modify Assignment "<%= @problem.name %>"
        </h2>

        <p>
            Modify this existing assignment to which students submit solutions.
        </p>


        <p>
            The professor's diagram may define keywords for model elements.
            <button class="btn btn-xs btn-default" onclick="$('#learn-more').toggle();">Learn more.</button>
        <div id="learn-more" class="grader-explanation-lg" style="display:none;">
            <p><b>Tip:</b></p>

            <p>
                UML Elements are matched by name.
                The name supplied by the professor is treated as a keyword.
                One of the words in a student's submission must match the professor's keyword.
            </p>

            <p>
                Example: Keyword "cit" matches both "Milwaukee City" and "cities"
            </p>

            <p>
                As a professor, you may supply multiple acceptable keywords.
                Put addition keywords in the UML element's description separated by commas.
            </p>
        </div>
        </p>

        <% if flash and flash[:error] %>
            <div style="text-align: center;">
                <p style="color:red"><b><%= flash[:error] %></b></p></div>
        <% end %>


        <!-- the multipart is what allows upload files: -->
        <%= render "problem_form" %>
    </div>


</div>

