<!--<TITLE>UMLGrader Results</TITLE>-->

<div class=grader_header_title>
    UMLGrader Results
</div>

<div class="grader-textarea col-lg-12">

    <% if @subset.nil? || @subset == 'all' %>
        <h4>Issues for <%= @sub.orig_name %>:</h4>
    <% else %>
        <h4>Issues for <%= @sub.orig_name %>
            (<%= UmlGraderController.check_description(@subset) %>):</h4>
    <% end %>

    <% if @results.nil? %>
        <b>Error: invalid or corrupt model file. Please resubmit.</b>
    <% elsif @results.empty? %>
        No errors found. But note this tool does not check for all possible
        errors; be sure to review the problem statement to make sure all
        requirements have been satisfied.
    <% else %>
        <ol>
            <% @results.each_index do |wix|
              w = @results[wix]
              show_more_info =
                      wix == 0 ||
                              @results[wix].explanation.name != @results[wix-1].explanation.name
            %>
                <li class=grader_item>
                    <%= w.message %>
                    <span id=res<%= w.id %>>
         <% if show_more_info %>
           &nbsp;&nbsp;&nbsp;
           <%= link_to 'More information...',
                       "/umlgrader/show_grader_results/#{w.id}",
                       :remote => true
            %>
         <% end %>
         </span>
       <% end %>
       </ol>
    <% end %>

    <p>
        <% if @sub.generate_diagram %>
          <img src="<%= Submission.webImageFileFromModelFile @sub.image_file %>" alt="generated diagram" />
        <% end %>
        <div align=left class=ticket>
            Results ticket: <%= @sub.ticket %>
        </div>

        <%= form_tag('/umlgrader/index') do %>
           <div align=left>
              <div class=input_item><%= submit_tag 'Grade another solution',
                                        :class => 'btn btn-default' %></div>
           </div>
        <% end %>

    </p>

</div>
