<% if @grader_item && @grader_item.explanation %>
  $("#res<%=@grader_item_id%>").html("<ul><li><em><span class=grader-explanation><%= @grader_item.explanation.explanation %></span></em></li></ul>")
<% else %>
  $("#res<%=@grader_item_id%>").html("<ul><li><b>Problem: grader results not available.  Contact site administrator.</b></li></ul>")
<% end %>
