<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class=grader_header_title>
      UMLGrader: Object Oriented Model Grader
    </div>

    <div class="grader-textarea">
        <div class="col-xs-12">
          <h1>Tutorial</h1>
          <ol>
            <li><h3>Create a class or sequence diagram in a program capable of exporting to XMI format such as Enterprise Architect.</h3></li>
            <ul>
              <li>You may be tempted to structure your project like the pictures below.</li>
              <li>Do NOT do this!</li>
              <%= image_tag("Tutorial-Screenshot-7.png", :alt => "Do NOT do this!") %>
              <%= image_tag("Tutorial-Screenshot-6.png", :alt => "Do NOT do this!") %>
              <li>Instead use a workflow like the one in the picture below.</li>
              <li>If you don't, the generated XMI will contain elements of both the class and sequence diagram.</li>
              <%= image_tag("Tutorial-Screenshot-9.png", :alt => "Do (do) this!") %>
            </ul>
            <li><h3>Export the created package to generate an XMI file.</h3></li>
            <ul>
              <li>Use the menu to select the package you want to export.</li>
              <%= image_tag("Tutorial-Screenshot-0.png", :alt => "File menu (the right way). :D") %>
            <li>Choose the desired path, and then click the 'export' button.</li>
              <%= image_tag("Tutorial-Screenshot-1.png", :alt => "Export XMI.") %>
            </ul>
            <li><h3>Submit the assignment via UMLGrader.</h3></li>
            <ul>
              <li>Select the assignment specified by your instructor.</li>
              <li>Choose and upload the appropriate assignment.</li>
              <%= image_tag("Tutorial-Screenshot-10.png", :alt => "Submit an assignment.") %>
            </ul>
            <li><h3>View submission results.</h3></li>
            <ul>
              <%= image_tag("Tutorial-Screenshot-11.png", :alt => "View results.") %>
            </ul>
          </ol>
          <h1>Sample Files</h1>
          <ul>
            <h3>The sample file package includes the following files.</h3>
            <ul>
              <li>Class Diagram [EAP]</li>
              <li>Sequence Diagram [EAP]</li>
              <li>Class Diagram (Problem) [XMI]</li>
              <li>Class Diagram (Solution) [XMI]</li>
              <li>Sequence Diagram (Problem) [XMI]</li>
              <li>Sequence Diagram (Solution) [XMI]</li>
            </ul>
            <h3><%= link_to 'Sample File Pack Download', umlgrader_tutorial_download_path %></h3>
          </ul><br>
          <%= link_to 'Back To UMLGrader', umlgrader_path %>
        </div>
    </div>
</body>
</html>
