<!--Modified version of index.html.erb.  Make adjustments while learning ruby on rails.-->
<!--Hopefully looks ok.  Behavior may be incorrect.-->
<!--TODO: Give more instruction like how keywords in doc work (?)-->

<!--<TITLE>UMLGrader: Object-oriented model grader</TITLE>-->

<div class=grader_header_title>
    UMLGrader: Object-oriented model grader
</div>

<div class="grader-textarea">


    <h2>
        Create Assignment - Professor Upload
    </h2>

    <% if flash and flash[:msg] %>
        <div style="text-align: center;">
            <p style="color:green"><b><%= flash[:msg] %></b></p>
        </div>
    <% end %>
</div>
