<div class=grader_header_title>
    View Submissions
</div>

<div class="grader-textarea row">
    <% if flash and flash[:msg] %>
        <div style="text-align: center;">
          <p style="color:green"><b><%= flash[:msg] %></b></p>
        </div>
    <% end %>
    <% if flash and flash[:notice] %>
        <div class="col-lg-6 row">
            <div class="alert alert-success fade in centered-text" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <%= flash[:notice] %>
            </div>
        </div>
    <% end %>

    <div class="col-xs-12">
        <p>
            This is a list of all the submissions for the assignment you have selected. From here you can download student submissions.
        </p>
        <% if (@problem_groups && @problem_groups.length > 0) %>
          <% @problem_groups.each do |group_id, submissions| %>
            <% if (!submissions.empty?) %>
              <h1><%= Group.find_by_id(group_id).name %></h1>
              <div><%= link_to "Download Zip file containing this group's files and table data.", download_group_submissions_path(id: params[:id], group_id: group_id) %></div>
              <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                          <td>
                              Student Email
                          </td>
                          <td>
                              Filename (click for download)
                          </td>
                          <td>
                              Feedback
                          </td>
                          <td>
                              Time Submitted
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                      <% submissions.each do |submission| %>
                          <tr>
                              <td><%= Student.find_by_id(submission.student_id).email_address %>
                              <td><%= link_to submission.orig_name, download_submission_path(submission.id) %></td>
                              <% if (submission.suggestions && submission.suggestions.length > 0) %>
                                <td>
                                  <% submission.suggestions.each do |suggestion| %>
                                    <p><%= suggestion.message %></p>
                                  <% end %>
                                </td>
                              <% else %>
                                <td>
                                  <p>No errors found.</p>
                                </td>
                              <% end %>
                              <td><%= submission.time %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
              <% end %>
          <% end %>
        <% else %>
            <p>No submissions yet.</p>
        <% end %>
    </div>
</div>
