<div id="menu" class="collapse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(umlint_index_path) || current_page?(umlint_path) %>">
                    <%= link_to 'Home', umlint_index_path %>
                </li>
                <li class="<%= 'active' if current_page?(umlint_about_path) %>">
                    <%= link_to 'About', umlint_checks_path %>
                </li>
                <li class="<%= 'active' if current_page?(umlgrader_edit_path) %>">
                    <%= link_to 'Checklists', umlgrader_edit_path %>
                </li>
                <% if session[:account_id] && Account.find(session[:account_id].to_i).instructor? %>
                    <li class="<%= 'active' if current_page?(umlint_manage_password_path) %>">
                        <%= link_to 'Account', umlgrader_modify_instructor_path %>
                    </li>
                <% end %>
                <% if session[:account_id] %>
                    <li><%= link_to 'Logout', umlint_logout_path %></li>
                <% else %>
                    <li><%= link_to 'Login', umlint_login_path %></li>
                <% end %>
                <li><%= link_to 'UMLTools', '/' %></li>
                <li><%= link_to 'UMLGrader', umlgrader_index_path %></li>
                <li><%= link_to 'Bug Reporting', 'https://bitbucket.org/hasker/umltools/issues' %></li>
            </ul>
        </div>
    </nav>
</div>
<div class="pull-left">
    <button class="btn btn-primary" data-toggle="collapse" data-target="#menu">Menu <i class="fa fa-bars"></i></button>
</div>
