
<div class=header>
    <div class=lint_header_title>
        UMLint Results
    </div>
</div>

<div class="lint-textarea col-lg-12">

    <div class="col-lg-10 col-md-9 col-md-9">

        <% if @check_list.nil? %>
            <h4>Issues for <%= @sub.orig_name %>:</h4>
        <% else %>
            <h4>Issues for <%= @sub.orig_name %>
                (using checks for <%= @check_list.description %>):</h4>
        <% end %>


        <p>
            <% if @suggestions.nil? %>
                <b>Error: invalid or corrupt model file. Please resubmit.</b>
            <% elsif @suggestions.empty? %>
                No issues found. But note this tool does not check for all possible
                errors; the author or team is responsible for examining the model
                closely for other errors.
            <% else %>
                <ol>
                    <% @suggestions.each_index do |six|
                      s = @suggestions[six]
                      show_more_info =
                              six == 0 ||
                                      @suggestions[six].explanation.name != @suggestions[six-1].explanation.name
                    %>
                        <li class=warning_item>
                            <%= s.message %>
                            <span id=warn<%= s.id %>>
         <% if show_more_info %>
           &nbsp;&nbsp;&nbsp;
           <%= link_to 'More information...',
                       "/umlint/show_suggestion_details/#{s.id}",
                       :remote => true
            %>
         <% end %>
         </span>
       <% end %>
       </ol>
     <% end %>


     <br/>

     <p>

     <div align=left class=ticket>
          Results ticket: <%= @sub.ticket %>
     </div>

     <%= form_tag('/umlint/index') do %>
       <div align=right>
            <div class=input_item><%= submit_tag 'Grade another solution',
                                      :class => 'btn btn-default' %></div>
       </div>
     <% end %>
   </div>

   </p>
</div>
