<!--<TITLE>UMLint: Object-oriented model checker</TITLE>-->
<script>
    $(document).ready(function () {
        $(":file").filestyle();
    });
</script>

<div class=lint_header_title>
  UMLint: Object Oriented Model Checker
</div>

<div class="lint-textarea">

  <% if flash and flash[:notice] %>
      <div class="col-lg-6">
        <div class="alert alert-success fade in centered-text" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= flash[:notice] %>
        </div>
      </div>
  <% end %>

  <% if flash and flash[:error] %>
      <div class="col-lg-6">
        <div class="alert alert-danger fade in centered-text" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <%= flash[:error] %>
        </div>
      </div>
  <% end %>

  <div class="col-xs-12">

    <p>
      Browse to your model file, select a checklist, and click on 'Check'.

    </p>

    <!-- the multipart is what allows upload files: -->
    <%= form_tag('/umlint/results', :multipart => true) do %>

        <table>
            <tr>
                <td class=input_item>Model (.mdl, .xmi) file:&nbsp;&nbsp;</td>
                <td class=input_item>
                    <%= file_field :model_file, '', :size => 60, class: 'filestyle' %>
            </tr>
            <tr>
                <td class=input_item>Checklist to apply:&nbsp;</td>
                <td class=input_item><%=
                    select_tag 'checklist_id',
                               options_for_select(CheckList.check_types, @checklist_id.to_i), class: 'form-control'
                %>
            </tr>
            <tr>
                <td class=input_item>Type of file:&nbsp;</td>
                <td class=input_item><%=
                    select_tag 'file_type_id',
                               options_for_select([['UML Diagram', Problem::CLASS_DIAGRAM_TYPE],
                                                   ['Sequence Diagram', Problem::SEQUENCE_DIAGRAM_TYPE]]), class: 'form-control'
                %>
            </tr>
            <tr>
              <td class="input_item">Generate Diagram(If available)?&nbsp;</td>

              <td class="input_item">
                    <%= check_box_tag 'generate_diagram' %>
              </td>
            </tr>
            <tr>
            <td></td>
            <td class=input_item><%= submit_tag 'Check', class: 'btn btn-default' %></td>
          </tr>
        </table>


    <% end %>

    <br>
<!--
    <p>First time using UMLint? No problem! Click &lt;= link_to 'here', umlint_tutorial_path %&gt; for a tutorial.</p>
-->

  </div>
</div>
