    <!--<TITLE>UMLint Instructor Login</TITLE>-->

    <div class=lint_header_title>
        UMLint Instructor Login
    </div>

<div id=login class="lint-textarea">
    <%= form_tag :action => 'do_login' do %>

        <% if flash and flash[:error] %>
            <p class=error><%= flash[:error] %></p>
        <% end %>

        <p>Please log in as an instructor to modify or create a
            checklist. If you do not have an account, contact
            <a href="https://faculty-web.msoe.edu//hasker/">Rob Hasker</a>.
        </p>

        <table align="center">
            <tr>
                <td><label for="email_address">Email address:</label></td>
                <td><%= text_field_tag :email_address, @email, :size => 40, class: 'form-control' %></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><%= password_field_tag :change_password, '', :size => 40, class: 'form-control' %></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center><%= submit_tag 'Login', class: 'btn btn-default' %></td>
                <td align=center><%= submit_tag 'Cancel', class: 'btn btn-default' %></td>
            </tr>
        </table>

    <% end %>
</div>
