<% if @suggestion_item && @suggestion_item.explanation %>
  $("#warn<%=@suggestion_item_id%>").html("<ul><li><em><span class=lint-explanation><%= @suggestion_item.explanation.explanation %></span></em></li></ul>")
<% else %>
  $("#warn<%=@suggestion_item_id%>").html("<ul><li><b>Problem: warning details not available.  Contact site administrator.</b></li></ul>")
<% end %>
