<!--<TITLE>UMLint Checklist Viewer</TITLE>-->

<div class=lint_header_title>
    UMLint Checklist Viewer
</div>

<% # the following code works in that the form gets updated when
   # the user changes checklists, but I got to this by trial and
   # error - there may be better ways           rwh, March, 2013
%>


<div id=list_info class="lint-textarea">


    <%= form_tag 'view' do %>
        <div id=list_selector>
            <table>
                <tr>
                    <td>
                        <label for="checklist_id" style="margin-right:10px">Select list to view:</label>
                    </td>
                    <td>
                        <%= select_tag 'checklist_id', options_for_select([['Select checklist', 0]] + CheckList.all_check_types,
                                                                          @checklist_id), :onchange => 'this.form.submit()', class: 'form-control' %>
                    </td>
                </tr>
            </table>
        </div>
    <% end %>
    <hr/>
    <% if flash and flash[:error] %>
        <p class=error><%= flash[:error] %></p>
    <% end %>
    <%= render :partial => 'view_checklist' %>

</div>
